:root {
  --bg-primary: #f5c127;
  --bg-primary-100: #f5a827;
  --bg-primary-300: #f58727;
  --bg-primary-500: #f56327;
  --bg-primary-700: #f41212;
  --bg-primary-900: #f520a0;
  --bg-primary-shine: #f5d816;
  --bg-black: #101010;
  --bg-light-grey: #969696;
  --bg-grey: #555555;
  --bg-white: #e9e9e9;
}
